@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  background-color: red;
}

#ulist {
            font-weight: 700;
            font-size: 11px;
            margin-top: 29px;
        }

#ulist>li {
            margin-right: 27px;
        }

input::placeholder {
            font-size: 11px;
            font-weight: 400;
            margin-top: 15px;

        }

#place::after {
            background-color: white;
        }

#place {
            background-color: #f5f5f6;
            height: 30px;
            border: none;
        }

.font {
            font-size: 10px;


        }

#icon {
            justify-content: space-evenly;
            font-size: 13px;
            color: rgb(93, 89, 89);

        }

.hero-img{
    width:100% ;

}

.hero-img2{
    width:100% ;


}

.hero-img:nth-child(4){
    margin-top: 2%;
    margin-bottom: 2%;
}

/* indicator */
.carousel-indicators [data-bs-target] {
    background-color: lightgrey;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: darkgrey; 
}


.carousel-indicators {
    bottom: -43px; 
}


.offers{
    margin-top: 5vh;
}